.tabs {
  &__content {
    margin-top: 10px;
  }
  &__tabs {
    display: flex;
    justify-content: center;
    padding: 25px 15px;
    border: 1px solid #fff;
  }
  &__tab {
    padding: 10px 15px;
    border: 1px solid #fff;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}
