<main class="tabs">
  <div class="container">
    <div class="tabs__content">
      <ul class="tabs__tabs">
        <app-tab
          :tabType="ETabType.Posts"
          title="Посты"
          @changeTab="changeCurrentTypeTab"
        />

        <app-tab
          :tabType="ETabType.Users"
          title="Пользователи"
          @changeTab="changeCurrentTypeTab"
        />
      </ul>

      <div v-if="isPostsList" class="filters">
        <div
          v-if="!currentUserFilterPosts"
          :class="[
            'filters__sort',
            'filters__item',
            { 'filters__sort--active': alphabeticalSort }
          ]"
          @click="sort"
        >
          Сортировать по алфавиту
        </div>

        <div
          v-if="currentUserFilterPosts"
          class="filters__postsUser filters__item"
        >
          Посты пользователя {{ currentUserFilterPosts.name }}
          <div
            class="filters__reset"
            @click="resetCurrentUserFilterPosts"
          ></div>
        </div>
      </div>

      <keep-alive>
        <component
          :is="`tab-${currentTypeTab}`"
          class="tabs__list"
          :posts="currentPosts"
          :users="users"
          :getUserByPostId="getUserByPostId"
          @checkUserPosts="getPostsByUser"
        />
      </keep-alive>
    </div>
  </div>
</main>
