.tab-posts {
  &__item {
    width: 80%;
    min-width: 300px;
    margin-top: 30px;
  }

  &__item-header {
    border: 1px solid #fff;
    background-color: #333;
  }

  &__item-line {
    padding: 5px 10px;
    border-bottom: 1px solid #4b4a4a;
  }

  &__comments {
    width: 85%;
    margin-top: 10px;
    margin-left: auto;
  }

  &__comment {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #fff;
    color: black;
    font-size: 12px;
    
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__comment-line {
    padding: 2px 4px;

    &:not(:first-child) {
      margin-top: 2px;
      border-top: 1px solid #000;
    }
  }
}

